
  article {
    background-color: #ffffff;
    padding: 16px;
  }
  article .container {
    display: block;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  article .container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 80px;
  }
  @media (min-width: 992px) {
    article .container .title {
      display: flex;
      justify-content: start;
      padding-top: 120px;
    }
  }
  article .container .title h2 {
    font-size: 45px;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
  }
  article .container #new-image {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 30px;
  }
  @media (min-width: 992px) {
    article .container #new-image {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 100%;
      height: auto;
    }
  }
  article .container #new-image .items img {
    width: 100%;
    height: auto;
  }
  article .container #new-image .items p {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  article .container #new-image .items h2 {
    font-size: 22px;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
  }
  article .container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 85px;
  }
  