article {
    background-color: #ffffff;
    padding: 16px;
 
  }
  article .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  article .container .news-article {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 992px) {
    article .container .news-article {
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  article .container .news-article .title {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    article .container .news-article .title {
      display: block;
      justify-content: left;
      text-align: left;
    }
  }
  article .container .news-article .title p {
    color: #f94d1c;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
  }
  article .container .news-article .title h2 {
    font-size: 45px;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
  }
  article .container .news-article a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #5c5c5c;
    border: #191919;
    border: 1px solid;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    margin-top: 20px;
  }
  @media (min-width: 992px) {
    article .container .news-article a {
      padding: 16px 55px;
    }
  }
  article .container .news-article a i {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 12px;
  }
  article .container .news-article a:hover {
    background-color: #f9d783;
    color: #191919;
    border: none;
    box-shadow: 3px 3px 5px 5px rgba(25, 25, 25, 0.4078431373);
  }
  article .container .new-image {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;
  }
  @media (min-width: 992px) {
    article .container .new-image {
      display: flex;
      justify-content: center;
      text-align: left;
      align-items: center;
    }
  }
  article .container .new-image .items {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  article .container .new-image .items img {
    width: 100%;
    height: auto;
  }
  article .container .new-image .items .item {
    line-height: 1.8;
  }
  article .container .new-image .items .item h2 {
    font-size: 22px;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
  }
  article .container .pagination {
    display: none;
    font-size: 40px;
    gap: 20px;
  }
  @media (min-width: 992px) {
    article .container .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 0px;
      cursor: pointer;
    }
  }